

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));


@layer base {  
    :root {
      --background: 184 69% 92%; /*set*/
      --foreground: 192 81% 33%;
      --card: 184 69% 92; /*set*/
      --card-foreground: 222 47% 11%;
      --border: 188 61% 76%; /*set*/
      --primary: 191 100% 39%;
      --primary-foreground: 192 69% 17%;
      --secondary: 210 40% 96%;
      --secondary-foreground: 222 47% 11%;
      --accent: 191 93% 38%;
      --accent-foreground: 222 47% 11%;
      --ring: 189 60% 53%; /*set*/
      --radius: 0.5rem;
  }
    .dark{
      --background: 199 33% 9%; 
      --foreground: 190 80% 84%;
      --card: 193 74% 12%;
      --card-foreground: 218 23% 16%;
      --border: 193 75% 28%;;
      --primary: 191 100% 39%;
      --primary-foreground: 190 75% 60%;
      --secondary: 210 16% 90%;
      --secondary-foreground: 218 15% 27%;
      --accent: 191 71%  48%;
      --accent-foreground: 218 14% 20%;
      --ring: 193 75% 28%;
        }
  }




@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
