

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));


@layer base {  
    :root {
      --background: 218 41% 1%;
      --foreground: 218 27% 99%;
      --muted: 218 20% 15%;
      --muted-foreground: 218 1% 64%;
      --popover: 218 41% 2%;
      --popover-foreground: 0 0% 100%;
      --card: 218 41% 2%;
      --card-foreground: 0 0% 100%;
      --border: 218 6% 14%;
      --input: 218 6% 14%;
      --primary: 218 24% 32%;
      --primary-foreground: 218 24% 92%;
      --secondary: 218 19% 9%;
      --secondary-foreground: 218 19% 69%;
      --accent: 218 24% 15%;
      --accent-foreground: 218 24% 75%;
      --destructive: 7 90% 48%;
      --destructive-foreground: 0 0% 100%;
      --ring: 218 24% 32%;
      --chart-1: 218 24% 32%;
      --chart-2: 218 19% 9%;
      --chart-3: 218 24% 15%;
      --chart-4: 218 19% 12%;
      --chart-5: 218 27% 32%;
    }
  }




@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
