

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));


@layer base {  
    :root {
      --background: 196  41% 7%; 
      --card: 193 74% 12%;
      --card-foreground: 218 23% 16%;
      --accent: 191 71%  48%;
      --border: 193 75% 28%;;
      --primary: 191 100% 39%;
      --primary-foreground: 190 75% 60%;
      --ring: 193 75% 28%;
      --foreground: 190 80% 84%;
      --input: 220, 13%, 91%;
      --secondary: 210 16% 90%;
      --secondary-foreground: 218 15% 27%;
      --accent-foreground: 218 14% 20%;
      --radius: 0.5rem;
        }
  }




@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
